@{
    ViewData["Title"] = "Propietario";
}

<h2 class="h2-inquilino-background">Gestión de Propietarios</h2>

@await Html.PartialAsync("TablaModal")

<div class="container mt-4 text-center">
    <div class="image-container mt-5">
        <img src="~/img/5.1.jpg" class="centered-image" alt="" />
        <div class="image-caption mt-3">
            <h5>Agentes Inmobiliarios</h5>
            <p>Su futuro esta bien cuidado</p>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/editModal.js"></script>
}
