<h2>Pagos realizados por el contrato</h2>
<table class="table table-even-columns table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            @* <th>@modelItem.IdContrato</th>
            <th>@modelItem.FechaPago</th>
            <th>$@modelItem.Importe</th>
            <th>@modelItem.NumeroPago</th>
            <th>@modelItem.Detalle</th> *@
            <th>Contrato</th>
            <th>Fecha de pago</th>
            <th>Importe</th>
            <th>Numero de pago</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Contrato N° 1</th>
            <th>12/10/23</th>
            <th>$5000.00</th>
            <th>15432</th>
            <th>Pago numero 3</th>
        </tr>
    </tbody>
</table>