@model LoginViewModel

<form asp-action="Autenticacion" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password"/>
    </div>
    <button type="submit" class="btn">Iniciar</button>
    <a href="@Url.Action("Crear","Usuario")">Crear un usuario</a>
</form>
