@model LoginViewModel

@{
    ViewData["title"]="Inicio de sesion";
    }
 
 <div class="containerV">
    <form asp-action="Autenticacion" method="post">
    <div class="frm-group">
            <label asp-for="Email"></label>
            <input class="frm-control" asp-for="Email"/>
        </div>
        <div class="frm-group">
            <label asp-for="Password"></label>
            <input class="frm-control" asp-for="Password" type="password"/>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar</button>
        <a href="@Url.Action("Crear","Usuario")">Crear un usuario</a>
    </form>
 </div>

    
