@model ProyetoInmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Editar Inquilino";
}

<h1 class="h1-editar-background">Editar Inquilino</h1>

<div class="container-formulario">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Guardar" class="formulario-formulario" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <!-- Campo oculto para ID -->
                <input type="hidden" asp-for="IdInquilino" />
                
                <div class="form-group mb-3">
                    <label asp-for="Dni" class="form-label"></label>
                    <input asp-for="Dni" class="form-control" />
                    <span asp-validation-for="Dni" class="text-danger"></span>
                </div>
                
                <div class="form-group mb-3">
                    <label asp-for="Apellido" class="form-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                
                <div class="form-group mb-3">
                    <label asp-for="Nombre" class="form-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                
                <div class="form-group mb-3">
                    <label asp-for="Telefono" class="form-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                
                <div class="form-group mb-3">
                    <label asp-for="Correo" class="form-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
