@{
    ViewData["Title"] = "Inquilino";
}

<h2 class="h2-inquilino-background">Gestión de Inquilinos</h2>

@await Html.PartialAsync("TablaModal")
@section Scripts {
    <script src="~/js/editModal.js"></script>
}
