html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #e2e6ea; 
}

.titulo-principal {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #2c3e50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.subtitulo {
  font-family: 'Verdana', sans-serif;
  font-size: 2rem;
  color: #7f8c8d;
  margin-bottom: 30px;
}


/* INQUILINO - PROPIETARIO  */

/*  tabla gral */
.table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  width: 100%; 
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
  padding: 15px;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

.table-dark th {
  background-color: #343a40;
  color: white;
}

/* Ajustes columnas con distribucion uniforme */
.table-even-columns th, .table-even-columns td {
  width: 14%;
  text-align: center;
  vertical-align: middle;
}

.table-even-columns th:last-child, .table-even-columns td:last-child {
  width: 16%;
  vertical-align: middle;
}
/* button Agregar */
.btn-agregar {
  background-color: #95a495d6;
  border-color: #484e48;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-agregar:hover {
  background-color: #e9f26bd7;
  border-color: #e9f26bad;
}

.btn-editbt, .btn-borrarbt, .btn-detallebt, .btn-exitobt{
  color: #fff;
  margin-top: 10px;
}
.btn-detallebt{
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-borrarbt{
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-editbt{
  background-color: #e0a800;
  border-color: #d39e00;
}
.btn-exitobt{
  background-color: #198754;
  border-color: #198754;
}

/* button Editar */
.btn-editar  {
  background-color: #f5d38bab;
  border-color: #919260;
  color: white;
  padding: 5px 15px;
  margin: 5px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-editar:hover {
  background-color: #a3dceda1;
  border-color: #269abc;
}

/* button Eliminar */
.btn-eliminar {
  background-color: #ff3c28d1;
  border-color: #978383d4;
  color: white;
  padding: 5px 15px;
  margin: 5px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  transition: background-color 0.3s, border-color 0.3s;
  margin-left: 0; /* Elimina margen innecesario */
}

.btn-eliminar:hover {
  /* background-color: #bbe9f0bb; */
  border-color: #ff3c28d1;
}
/* button guardar */

.btn-primario{
  background-color: #a89f9ed1;
  border-color: #978383d4;
  color: white;
  border-radius: 10px;
  width: 500px;
  padding: 5px;
}

.h1-editar-background, .h1-crear-background{
text-align: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #E8D1DD;
color: #354367;

}

.h2-inquilino-background, .h2-propietario-background {
  background-image: url('/img/6.1.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white;
  padding: 20px; 
  text-align: center; 
  height: 150px; 
  font-size: 4rem; 
  margin-bottom: 40px; 
}

.image-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.centered-image {
  width: 100%; 
  height: 300px;
  border-radius: 10px; 
  max-width: 900px; 
}

.image-caption h5 {
  color: #1A5653;
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: cursive;
}

.image-caption p {
  color: #1A5653;
  font-size: 1rem;
}
.container-formulario {
  margin-top: 50px;
}
.formulario-formulario{
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}


/*ESTILOS PARA LOS INMUEBLES cards- arreglo para mostrar linea de 4*/

.cardInmueble {
  border: 1px solid gray;
  border-radius: 15px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 3px 5px 8px gray;
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column; 
}

.containerInmueble {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  margin-top: 50px;
}

.cardInmueble img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; /* esc imagen para que cubrir el contenedor*/
  flex-shrink: 0;
}

/* hover cards */
.cardInmueble:hover {
  box-shadow: 3px 5px 12px black;
}

/*ESTILOS DETALLES*/

.containerDetalle {/*DEJAR ESTO ASI PARA MANTENER EL DISEÑO DE DOBLE COLUMNA*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: inherit;
}

.visorImagen {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  margin-bottom: 20px;
}

.visorImagen img {
  width: 100%;
}

.columna {/*ESTA COLUMNA OCUPA MENOS DE LA MITAD DE LA PANTALLA DEJAR ASI*/
  width: 48%;
  margin-bottom: 20px;
}

/*ESTILO EDITAR INMUEBLE*/

.containerH {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: block;
}

.containerV {
  width: 100%;
  margin-bottom: 20px;
}

.colu1, .colu2 {
  width: 100%;
  margin-bottom: 20px;
}

.img-s {
  width: 200px;
}

.img-m {
  width: 100%;
  max-width: 400px;
}

.img-l {
  width: 100%;
  max-width: 600px;
}

/* Estilo del titulo */
.h1-editar-inmueble {
  text-align: left;
  text-decoration: underline;
  color: #354367;
  padding: 20px;
  margin: 0;
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  max-width: 100%;
}

.btn-primary {
  margin-top: 10px;
}

.crear-inmueble .formulario-formulario {
  max-width: 800px; 
  margin: 0 auto; 
}


/*ESTILO tipo*/

.container-centered {
  text-align: center;
  height: 100vh;
  display: table;
  width: 100%;
}

.tabla-tipos-centered {
  display: table-cell;
  vertical-align: middle;
}

.tabla-tipos {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
}

.tabla-tipos thead th {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #dee2e6;
}

.tabla-tipos tbody td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

.tabla-tipos tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btn-tipos {
  margin-right: 5px;

}

.logo {
  position: absolute;
  top: 80px;
  right: 350px;
}

.logo img {
  width: 150px;
  height: 110px;
  margin-right:  720px;
}

.h2-tipos-background {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #E8D1DD;
  color: #354367;
  margin: 20px;
  padding: 15px;
  font-size: 300%;
}

.crear-inmueble-bg {
  background-image: url('/img/11.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
