@model Tipo
@{
    ViewData["Title"] = "Crear Tipo";
}
<h2>Crear nuevo tipo de inmueble</h2>
<div class="container-formulario">
    <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="Guardar" class="formulario-formulario" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <div class="form-group mb-3">
                        <label asp-for="Observacion" class="form-label"></label>
                        <input asp-for="Observacion" class="form-control" />
                        <span asp-validation-for="Observacion" class="text-danger"></span>
                    </div>            
                    <div class="form-group text-center">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
    </div>
</div>