@model UsuarioEditar
@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<div class="container-formulario">
    <h2>Cambiar Contraseña</h2>
    <form class="formulario-formulario" asp-action="CambiarPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <div class="form-group mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Nombre"/>
        <input type="hidden" asp-for="Apellido"/>
        <input type="hidden" asp-for="Email"/>
        <input type="hidden" asp-for="Rol"/>
        <input type="hidden" asp-for="IdUsuario"/>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>